nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width : 160px;
}

.NavNavigation {
    width: 35%;
    min-width : 320px;
    display: flex;
    justify-content: space-between;
}
.auth {
    display: flex;
    align-items: center;
}

.panier {
    position : relative;
}

.badge {
    position : absolute;
    bottom : 0;
    right : 2px;
    background-color: rgb(152, 152, 255);
    padding : 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
}