
.shop {
    width : 100%;
}


.shop > div:first-child {
    
    margin: 30px 0;
}

.shop > div:first-child > div:first-of-type {
    border : 4px solid #7777FF;
    border-radius : 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin : 0 20px;
}

.shop > div:first-child > div:first-of-type p {
    padding : 10px 30px 10px 5px;
}

.filtre {
    background-color: #7777FF10;
    padding : 15px 0;
    margin : 0 20px;
}

div .filterIsClosed {
    display : none;
}


.productsList {

    background-color:  #7777FF20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}



@media screen and (min-width: 768px) {

    .filtre {
        display: flex;
        justify-content: space-around;
    }

    
}

/* DEVICES /: small devices as smartphone */
@media screen and (max-width: 425px) {
    .productsList {
    justify-content: center;
    }
}
