/* Fonts */
/* Poppins Thin 100 , Light 300 , SemiBold 600 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

:root {
  --lightBlue : rgb(152, 152, 255);
  --white : #FFF;
  --black : #0000;
}
.App {
  position: relative;
  margin: 0 auto ;
  max-width: 90vw;
  min-height : 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 219, 204);
}

html {
  font-size: 1em ;
}

a, p , span, ul, ol, li, h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgb(0,0,0);
  padding: 5px
}

h1, h2, h3 {
  font-weight: 600;
}