
.item-container {
    min-width: 200px ;
    margin : 0 15px;
}

/* DEVICE : big devices (tablet, desktop, large monitor */

@media screen and (min-width : 768px) {
    .carousel-container {
        right: 0;
        overflow: unset;
    }
    
    .slider-container {
        max-width: 100vw;
        position: relative;
        right: 0;
    }

    .item-container {
        max-width: 230px ;
    }

}

