footer {
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

footer h2 {
    color: rgb(152, 152, 255);
    font-weight: bolder;
}

.footerNavigation {
    width: 100%;
    display: flex;
    gap : 6%;
    padding: 15px 10px;
    box-sizing: border-box;
}

.brand {
    width: 30%;
}

.brand img {
    max-width : 120px;
    padding: 10px;
}

.copyright {
    text-align: center;
    padding-bottom: 5px;
}